<%- include('header') -%>

<form method="POST" action="">
  <input type="text" name="name" id="name" value="<%= name %>">
  <input type="text" name="description" id="description" value="<%= description %>">
  <select name="category" id="category">
    <% categories.forEach((category) => { %>
      <% if (category.name === selectedCategory) { %>
        <option selected><%= category.name %></option>
      <% } else { %>
        <option><%= category.name %></option>
      <% } %>
    <% }); %>
  </select>
  <input type="number" name="price" id="price" value="<%= price %>">
  <input type="number" name="quantity" id="quantity" value="<%= quantity %>">
  <input type="submit">
</form>

<% if(errors) { %>
  <ul>
    <% errors.forEach((error) => { %>
      <li> <%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>

<%- include('footer') -%>