<%- include('header') -%>

<form method="POST" action="">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= name %>">
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" value="<%= description %>">
  </div>
  <div>
    <label for="category">Category:</label>
    <select name="category" id="category">
      <% categories.forEach((category) => { %>
        <% if (category.name === selectedCategory) { %>
          <option selected><%= category.name %></option>
        <% } else { %>
          <option><%= category.name %></option>
        <% } %>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="price">Price(£):</label>
    <input type="number" name="price" id="price" value="<%= price %>">
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity" value="<%= quantity %>">
  </div>
  <input type="submit">
</form>

<% if(errors) { %>
  <ul>
    <% errors.forEach((error) => { %>
      <li> <%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>

<%- include('footer') -%>